<div class="container">
  <h2>新規会員登録</h2>

  <%= form_with model: @customer do |f| %>


    <%= f.label: 名前（姓）%>
    <%= f.text_field :last_name %></br>
    <%= f.label:（名）%>
    <%= f.text_field :first_name %></br>
    <%= f.label: フリガナ %>
    <%= f.label:（セイ）%>
    <%= f.text_field :last_name %></br>
    <%= f.label:（メイ）%>
    <%= f.text_field :first_name %></br>
    <%= f.label: メールアドレス%>
    <%= f.text_field :email %></br>
    <%= f.label: 郵便番号（ハイフンなし）%>
    <%= f.text_field :postal_code %></br>
    <%= f.label: パスワード（6文字以上）%>
    <%= f.text_field :passward %></br>
    <%= f.label: パスワード（確認用）%>
    <%= f.text_field :passward %>

    <%= f.submit "新規登録" %>

  <h2>既に登録済みの方</h2>
    <%= link_to root_path, "こちら" %>からログインしてください。
</div>