<div class = "container">
  <div class="row">
    <div class="col">
      <h2>注文履歴詳細</h2>
      <table>
        <tbody>
          <tr>
            <td>購入者</td>
            <td><%= @customer.last_name+@customer.first_name %></td>
          </tr>
          <tr>
            <td>注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
              <%# link_to @order_detail.create_at, admin_order_path %>
          </tr>
          <tr>
            <td>配送先</td>
            <td><%= @order.address %> </td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <td>注文ステータス</td>
            <td>
              <%= form_with model: @order, url: admin_order_path(@order.id) do |f| %>
              <%= f.select :status, Order.statuses_i18n.invert, placeholder: 0 %>
              <%= f.submit "更新する", class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="d-flex justify-content-between">
        <table class = "table col-8">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th>製作ステータス</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% @total = 0 %>
              <% @order.order_details.each do |order_detail| %>
              <td>
                <%= order_detail.item.name %>
              </td>
              <td>
                <%= order_detail.price.to_s(:delimited) %>
              </td>
              <td>
                <%= order_detail.amount %>
              </td>
              <td>
                <%= order_detail.subtotal.to_s(:delimited) %>
              </td>
              <% @total = @total + order_detail.subtotal %>
              <td>
                <%= form_with model: [@order, order_detail], url: admin_order_order_detail_path(@order,order_detail),method: :patch do |f| %>
                <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert, {prompt: false} %>
                <%= f.submit "更新", class: "btn btn-success" %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        
        <div></div>
       
        <table>
          <tbody>
            <tr>
              <td>
                <b>商品合計</b>
              </td>
              <td>
                <%= @total.to_s(:delimited) %>
              </td>
            </tr>
            <tr>
              <td>
                <b>送料</b>
              </td>
              <td>
                800
              </td>
            </tr>  
            <tr>
              <td>
                <b>請求金額合計</b>
              </td>
              <td>
                <%= (@total + 800).to_s(:delimited) %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    
      
    </div>
  </div>
  

</div>










<!--<div class = "container">-->
<!--  <h2><%#= @customer.fullname %>さんの注文履歴</h2>-->

<!--  <table>-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <td>購入日時</td>-->
<!--        <td>注文個数</td>-->
<!--        <td>注文ステータス</td>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <%#@order_detail.each do |order_detail| %>-->
<!--      <tr>-->
<!--        <td>-->
<!--          <%#= order_detail.created_at %>-->
<!--        </td>-->
<!--        <td>-->
<!--          <%#= order_detail.amount %>-->
<!--        </td>-->
<!--        <td>-->
<!--          <%#= order_detail.status %>-->
<!--        </td>-->
<!--      </tr>-->
<!--      <%# end %>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->