<div class="container">
  <h2>注文情報確認</h2>
    <table>
      <thead>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
      </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.get_image(50,50) %> <%= cart_item.item.name %>
              </td>
              <td>
                <%= cart_item.item.with_tax_price.to_s(:delimited) %>
              </td>
              <td>
                <%= cart_item.amount %>
              </td>
              <td>
                <%#= cart_item.item.with_tax_price * cart_item.amount %>
                <%= cart_item.subtotal.to_s(:delimited) %>
                <% @total = @total + cart_item.subtotal %>
              </td>
            </tr>
            <% end %>
          </tbody>
    </table>

    <table>
      <tr>
        <th>送料</th>
        <td><%= @order.shipping_cost %></td>
      </tr>
      <tr>
        <th>商品合計</th>
        <td><%= @total %></td>
      </tr>
      <tr>
        <th>請求金額</th>
        <td><%= @order.shipping_cost + @total %></td>
      </tr>
    </table>

    <table>
      <tr>
        <td>支払方法</td>
        <td><%= @order.payment_method %></td>
      </tr>
      <tr>
        <td>お届け先</td>
        <td><%= @order.postal_code %></td>
        <td><%= @order.address %></td>
      </tr>
      <tr>
        <td><%= @order.name %></td>
      </tr>
    </table>

  <%= link_to "注文を確定する", orders_complete_path, class: "btn btn-success" %>

</div>