<div class="container">
  <h2>注文情報入力</h2>

  <b>支払方法</b>
    <%= form_with model: @order, url: orders_confirm_path do |f| %>
      <%= f.radio_button :payment_method, "credit_card" %>
      <%= label :payment_method, "クレジットカード" %><br>
      <%= f.radio_button :payment_method, "transfer" %>
      <%= label :payment_method, "銀行振込" %><br>

  <p>お届け先</p>
      <div>
        <%= f.radio_button :address_number, "1" %>
        <%= f.label :address, "ご自身の住所" %>
        <%= current_customer.address %><br>
      </div>
      <div>
        <%= f.radio_button :address_number, "2" %>
        <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %>
        <%= f.label :address, "登録済み住所から選択" %><br>
      </div>
      <div>
        <%= f.radio_button :address_number, "3" %>
        <%= f.label :address, "新しいお届け先" %><br>
        郵便番号（ハイフンなし）
        <%= f.text_field :postal_code %><br>
        住所
        <%= f.text_field :address %><br>
        宛名
        <%= f.text_field :name %><br>
      </div>

      <%= f.submit "確認画面に進む",class: "btn btn-primary" %>
    <% end %>





</div>