<div class="container">
  <div class="row">
    <div class="col-md-2">
      <p>ジャンル検索</p>
      <table class = "table">
          <tbody>
            <% @genre.each do |genre| %>
            <tr>
              <!--tdはtable_dateの略-->
              <td>
              <%= genre.name %>
              </td>
            </tr>
            <% end %>
          </tbody>
      </table>
    </div>


  <div class="row">
    <div class="col-8">
      <h3>商品一覧(全件）</h3>
      <div class = "row">
        <% @item.each do |item| %>
        <div class = "col-8">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image(100,150) %>
          <% end %>
          商品名</br>
          <%= item.name %>
          ¥<%= item.price %>
        </div>
        <% end %>
      </div>

  </div>
  <div>
  </div>
</div>
  <%= paginate @item %>


